<div class="account-pages my-5 pt-sm-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card overflow-hidden">
          <div class="bg-primary-subtle">
            <div class="row">
              <div class="col-7">
                <div class="text-primary p-4">
                  <h5 class="text-primary">Inscription gratuite</h5>
                  <p>Créez votre compte Skote dès maintenant.</p>
                </div>
              </div>
              <div class="col-5 align-self-end">
                <img src="assets/images/profile-img.png" alt="" class="img-fluid" />
              </div>
            </div>
          </div>
          <div class="card-body pt-0">
            <div>
              <a routerLink="/">
                <div class="avatar-md profile-user-wid mb-4">
                  <span class="avatar-title rounded-circle bg-light">
                    <img src="assets/images/logo.svg" alt="" class="rounded-circle" height="34" />
                  </span>
                </div>
              </a>
            </div>

            <div class="p-2">
              <!-- Message succès -->
              <alert *ngIf="successmsg" type="success" [dismissible]="false">
                Inscription réussie.
              </alert>

              <!-- Message erreur -->
              <alert *ngIf="error" type="danger" [dismissible]="false">
              {{ error }}
              </alert>


              <form class="needs-validation" [formGroup]="signupForm" (ngSubmit)="onSubmit()" novalidate>
                <!-- Nom -->
                <div class="mb-3">
                  <label for="nom" class="form-label">Nom</label>
                  <input type="text" formControlName="nom" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nom.errors }" id="nom" placeholder="Entrez votre nom" />
                  <div *ngIf="submitted && f.nom.errors" class="invalid-feedback">Le nom est requis</div>
                </div>

                <!-- Prénom -->
                <div class="mb-3">
                  <label for="prenom" class="form-label">Prénom</label>
                  <input type="text" formControlName="prenom" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.prenom.errors }" id="prenom" placeholder="Entrez votre prénom" />
                  <div *ngIf="submitted && f.prenom.errors" class="invalid-feedback">Le prénom est requis</div>
                </div>

                <!-- Email -->
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" id="email" placeholder="Email" />
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">L'email est requis</div>
                    <div *ngIf="f.email.errors.email">Email invalide</div>
                  </div>
                </div>

                <!-- Mot de passe -->
                <div class="mb-3">
                  <label for="motDePasse" class="form-label">Mot de passe</label>
                  <input type="password" formControlName="motDePasse" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.motDePasse.errors }" id="motDePasse" placeholder="Mot de passe" />
                  <div *ngIf="submitted && f.motDePasse.errors" class="invalid-feedback">Mot de passe requis</div>
                </div>

                <!-- Âge -->
                <div class="mb-3">
                  <label for="age" class="form-label">Âge</label>
                  <input type="number" formControlName="age" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.age.errors }" id="age" placeholder="Votre âge" />
                  <div *ngIf="submitted && f.age.errors" class="invalid-feedback">L'âge est requis</div>
                </div>

                <!-- Téléphone -->
                <div class="mb-3">
                  <label for="telephone" class="form-label">Téléphone</label>
                  <input type="text" formControlName="telephone" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.telephone.errors }" id="telephone" placeholder="Votre numéro" />
                  <div *ngIf="submitted && f.telephone.errors" class="invalid-feedback">Téléphone requis</div>
                </div>

                <!-- Adresse -->
                <div class="mb-3">
                  <label for="adresse" class="form-label">Adresse</label>
                  <input type="text" formControlName="adresse" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.adresse.errors }" id="adresse" placeholder="Votre adresse" />
                  <div *ngIf="submitted && f.adresse.errors" class="invalid-feedback">Adresse requise</div>
                </div>

                <!-- Bouton Submit -->
                <div class="mt-4 d-grid">
                  <button class="btn btn-primary" type="submit">S'inscrire</button>
                </div>

                <!-- Sign in avec réseaux -->
                <div class="mt-4 text-center">
                  <h5 class="font-size-14 mb-3">Ou inscrivez-vous avec</h5>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a href="javascript:void(0);" class="social-list-item bg-primary text-white border-primary">
                        <i class="mdi mdi-facebook"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="javascript:void(0);" class="social-list-item bg-info text-white border-info">
                        <i class="mdi mdi-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="javascript:void(0);" class="social-list-item bg-danger text-white border-danger">
                        <i class="mdi mdi-google"></i>
                      </a>
                    </li>
                  </ul>
                </div>

                <div class="mt-4 text-center">
                  <p class="mb-0">
                    En vous inscrivant, vous acceptez les <a href="javascript:void(0);" class="text-primary">conditions d'utilisation</a> de Skote.
                  </p>
                </div>
              </form>
            </div>
          </div>
        </div>

        <!-- Footer -->
        <div class="mt-5 text-center">
          <p>Vous avez déjà un compte ? <a href="/auth/login" class="fw-medium text-primary">Se connecter</a></p>
          
          <p> <i class="mdi mdi-heart text-danger"></i>  Réalisée par Montaha</p>
        </div>
      </div>
    </div>
  </div>
</div>
